<!DOCTYPE html>
<html lang="en">

<head>
  <th:block th:replace="~{fragments/head-script :: head}" \>
    <title>Ticket Details</title>
</head>

<body>
  <header>
    <th:block th:replace="~{fragments/navbar :: navbar}" \>
  </header>
  <main>
    <div class="container">
      <div class="arrow-container">
        <a th:href="@{/dashboard}" class="me-3 text-white">
          <i class="fa-solid fa-arrow-left fa-lg"></i>
        </a>
      </div>
      <div class="card" th:each="ticket : ${tickets}" th:object="${ticket}">
        <div class="card-header text-center">
          <h3 th:text="*{title}"></h3>
        </div>
        <div class="card-body">
          <div class="mb-2">
            <span class="fw-bold">Description:</span>
            <p th:text="*{description}" class="card-description"></p>
          </div>
          <div class="mb-2">
            <span class="fw-bold">Category:</span>
            <p th:text="*{category.name}" class="card-text"></p>
          </div>
          <div class="mb-2">
            <span class="fw-bold">Status:</span>
            <p th:text="*{status}"></p>
          </div>
          <div class="mb-2">
            <span class="fw-bold">Assigned to:</span>
            <p th:text="*{user.username}"></p>
          </div>
          <!-- notes -->
          <a th:href="@{|/ticket/*{id}/notes|}" class="btn btn-primary mb-2" type="button">
            See notes
          </a>
          <a sec:authorize="hasAuthority('Operator')" th:href="@{|/ticket/*{id}/status|}" class="btn btn-primary mb-2"
            type="button">Change status</a>
        </div>
        <div class="card-footer text-body-secondary">
          <div>
            <div>Created:</div>
            <p th:text="*{formattedCreationDate}"></p>
          </div>
          <div th:if="${ticket.updated_at != null}">
            <div>Last updated on:</div>
            <p th:text="*{formattedUpdatedAt}"></p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <th:block th:replace="~{fragments/head-script :: script}" \></th:block>
</body>

</html>