.custom-table {
    border-radius: 10px;
    overflow: hidden;
}

body{
    background-color: #504f4fe4;
}

.status-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.green {
    background-color: green;
}
.red {
    background-color: red;
}

.arrow-container {
    position: absolute;
    margin-top: 15px;
    margin-left: 25px;
    z-index: 10;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.alert-danger, .alert-success {
    animation: fadeIn 0.5s ease-in-out;
}