<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{fragments/head-script :: head}" \>
        <title>Notes</title>
</head>

<body>
    <header>
        <th:block th:replace="~{fragments/navbar :: navbar}" \>
    </header>
    <main>
        <div class="arrow-container">
            <a th:href="@{|/ticket/*{id}|}" class="me-3 text-white">
              <i class="fa-solid fa-arrow-left fa-lg"></i>
            </a>
        </div>
        <div class="container">
            <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="m-0" th:text="${successMessage}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row">
                <div th:each="note : ${notes}" th:object="${note}" class="col-md-4 mb-4">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <p th:text="${note.text}" class="card-text"></p>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <div>
                                <div>Created:</div>
                                <p th:text="*{formattedCreationDate}"></p>
                            </div>
                            <div>
                                <div>Author:</div>
                                <p th:text="*{user.username}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="~{fragments/head-script :: script}" \></th:block>
</body>

</html>